/* Variables */
:root {
  --font-family: 'Source Sans Pro', serif;
  --font-family-secondary: 'Lobster', cursive;
  --color-bold-pink: #C81450;   /* Bold Pink */
  --color-pink: #c06583;
  --color-darker-pink: #610A27;
  --color-bolder-pink: #A71143;
  --color-light-pink: #FFCCCB;   /* Light Pink */
  --color-bold-blue: #063D6A;   /* Bold Blue */
  --color-light-blue: #ADD8E6;   /* Light Blue */
  --color-white: #FFFFFF;       /* White */
  --color-light-gray: #9E9E9E;  /* Light Gray */
  --color-dark-gray: #333333;   /* Dark Gray */
  --color-green: #4CAF50;       /* Green */
  --color-tan: #D2B48C;         /* Tan */
  --color-light-brown: #A0522D; /* Light Brown */
  --color-medium-brown: #8B4513;/* Medium Brown */
  --color-dark-brown: #654321;  /* Dark Brown */
  --color-light-tan: #F5DEB3;   /* Light Tan */
  
}

html {
  scroll-behavior: smooth;
}

/* Body Styles */
body {
  background-color: var(--color-light-tan);
  color: var(--color-dark-gray);
  font-family: var(--font-family);
}

.container {
  margin-top: 50px;
}


.response-container {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}



.burger-icon {
  width: 24px;
  height: 24px;
  color: var(--color-dark-gray);
}

.font-18 {
  font-size: 18px;
}

.font-22 {
  font-size: 22px;
}
/* Text Colors */
.text-bold-pink {
  color: var(--color-bold-pink) !important;
}

.text-pink {
  color: var(--color-pink) !important;
}

.text-light-pink {
  color: var(--color-light-pink) !important;
}

.text-darker-pink {
  color: var(--color-darker-pink) !important;
}

.text-bolder-pink {
  color: var(--color-bolder-pink) !important;
}

.text-bold-blue {
  color: var(--color-bold-blue) !important;
}

.text-light-blue {
  color: var(--color-light-blue) !important;
}

.text-white {
  color: var(--color-white) !important;
}

.text-light-gray {
  color: var(--color-light-gray) !important;
}

.text-dark-gray {
  color: var(--color-dark-gray) !important;
}

.text-green {
  color: var(--color-green) !important;
}

.text-tan {
  color: var(--color-tan) !important;
}

.text-light-brown {
  color: var(--color-light-brown) !important;
}

.text-medium-brown {
  color: var(--color-medium-brown) !important;
}

.text-dark-brown {
  color: var(--color-dark-brown) !important;
}

.text-light-tan {
  color: var(--color-light-tan) !important;
}

/* Background Colors */
.bg-bold-pink {
  background-color: var(--color-bold-pink) !important;
}

.bg-pink {
  background-color: var(--color-pink) !important;
}

.bg-light-pink {
  background-color: var(--color-light-pink) !important;
}

.bg-bold-blue {
  background-color: var(--color-bold-blue) !important;
}

.bg-light-blue {
  background-color: var(--color-light-blue) !important;
}

.bg-white {
  background-color: var(--color-white) !important;
}

.bg-light-gray {
  background-color: var(--color-light-gray) !important;
}

.bg-dark-gray {
  background-color: var(--color-dark-gray) !important;
}

.bg-green {
  background-color: var(--color-green) !important;
}

.bg-tan {
  background-color: var(--color-tan) !important;
}

.bg-light-brown {
  background-color: var(--color-light-brown) !important;
}

.bg-medium-brown {
  background-color: var(--color-medium-brown) !important;
}

.bg-dark-brown {
  background-color: var(--color-dark-brown) !important;
}

.bg-light-tan {
  background-color: var(--color-light-tan) !important;
}

.img-height-60{
  height: 60px;
}

.rounded-image {
  border-radius: 50%;
  overflow: hidden;
}

.romanceText {
  font-family: var(--font-family-secondary);
}

.nav-link {
  color: var(--color-white) !important;
  font-weight: bold;
  font-size: 14px;
}

.nav-link:hover {
  background-color: var(--color-bold-blue); 
  color: var(--color-light-blue);
  outline: 2px solid var(--color-tan);
  transform: scale(1.1); /* Slightly enlarge on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.6));
}

/* Header Styles */
header {
  background-color: var(--color-bold-pink);
}

h1 {
  color: var(--color-white);
}

h2 {
  font-family: var(--font-family-secondary);
  background-color: var(--color-bold-pink);
  border-radius: 10px;
  padding: 1rem;
}

h3.card-title {
  font-size: 20px;
}

.bg-black {
  background-color: var(--color-dark-gray);
}

h1.card-title {
  font-size: 20px;
  color: var(--color-bold-pink); /* Keep the text color consistent with the card titles */
}



/* Footer Styles */
footer {
  background-color: var(--color-bold-pink);
}

footer a {
  color: var(--color-white);
}

footer a:hover {
  color: var(--color-bold-blue);
}

.donation-icon {
  width: 30px;
  height: auto;
  
}

.response {
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-title {
  color: var(--color-bold-pink);
  font-family: var(--font-family-secondary);
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-text {
  font-family: 'Source Sans Pro', serif;
  color: var(--color-dark-gray);
  line-height: 1.6;
  flex-grow: 1; 
}
  

/* Container for answer cards */
.answer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Response cards */
.response-card {
  flex: 1 1 100%; /* Default to full width */
  max-width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .response-card {
    flex: 1 1 calc(50% - 20px); /* 2 cards per row on small screens */
    max-width: calc(50% - 20px);
  }
}

@media (min-width: 768px) {
  .response-card {
    flex: 1 1 calc(33.333% - 20px); /* 3 cards per row on medium screens */
    max-width: calc(33.333% - 20px);
  }
}


/* Questions List */
.questions-list {
  list-style: none;
  padding: 0;
}

.questions-list li {
  margin-bottom: 10px;
}

.questions-list a {
  color: var(--color-darker-pink);
  font-size: 1.5rem;
  text-decoration: none;
  padding: 1rem;
  display: block;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.questions-list a:hover {
  background-color: var(--color-bold-blue);
  color: var(--color-light-blue);
  outline: 2px solid var(--color-bold-pink);
  outline-offset: 2px;
  transform: scale(1.1); /* Slightly enlarge on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.6));
}

.hidden {
  display: none;
}


.no-underline {
  text-decoration: none;
}

.no-underline:hover {
  text-decoration: none;
  transform: scale(1.1); /* Slightly enlarge on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.6));
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


/* Form Styling */
#search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#search-input, #search-question {
  flex: 1 1 auto;
  min-width: 200px;
  margin-bottom: 10px;
  height: 40px;
}

.input-group {
  flex: 1 1 auto;
  position: relative;
}

.input-group-prepend .input-group-text {
  background-color: var(--color-bold-pink);
  color: var(--color-white);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: 40px; 
  border-radius: 4px 0 0 4px; 
  box-sizing: border-box;
}

.form-control {
  border: 1px solid var(--color-light-gray);
  padding: 0 10px; 
  font-size: 16px;
  box-sizing: border-box; 
  height: 40px; 
  border-radius: 0 4px 4px 0; 
  outline: none; 
}

.form-control:focus, #search-question:focus {
  box-shadow: none; 
}

.input-group:focus-within .form-control, #search-question:focus {
  border-color: var(--color-bold-pink);
  box-shadow: 0 0 0 2px var(--color-bold-pink);
}

.input-group:focus-within .input-group-text {
  box-shadow: 0 0 0 2px var(--color-bold-pink);
}

#search-question {
  border: 1px solid var(--color-light-gray);
  border-radius: 4px;
  padding: 0 10px;
  font-size: 16px;
  box-sizing: border-box;
  height: 40px;
  outline: none;
  background-color: var(--color-white);
}

.btn-bold-pink {
  color: var(--color-white);
  border: 2px solid var(--color-darker-pink);
  background-color: var(--color-bold-pink);
  border-radius: 4px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
  margin-bottom: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-bold-pink:hover {
  background-color: var(--color-bold-blue);
  color: var(--color-light-blue);
  border-color: var(--color-bold-blue);
  transform: scale(1.1); /* Slightly enlarge on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.6));
}

#clear-results-button {
  margin-left: 10px;
}

/* Mobile screens */
@media (max-width: 767px) {
  #search-form {
    flex-direction: column;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .form-group.d-flex {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 991px) {
  #search-form {
    flex-direction: column;
  }

  .form-group {
    width: 100%;
  }

  .form-group.d-flex {
    flex-direction: row;
    justify-content: center;
  }
}

/* Large screens */
@media (min-width: 992px) {
  #search-form {
    flex-direction: row;
  }

  .form-group {
    margin-bottom: 0;
  }

  .form-group.d-flex {
    flex-direction: row;
    justify-content: center;
  }
}


/*button*/
/* Small Pink Button Styling */
.btn-small-pink {
  color: var(--color-white);
  border: 2px solid var(--color-darker-pink);
  background-color: var(--color-bold-pink);
  border-radius: 4px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
  display: inline-block; 
  margin: 10px 5px; 
}

.btn-small-pink:hover {
  background-color: var(--color-bold-blue);
  color: var(--color-light-blue);
  border-color: var(--color-bold-blue);
  transform: scale(1.1); /* Slightly enlarge on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.6));
}

.read-more {
  display: inline-block;
  margin-top: 10px;
  font-size: 1.2rem;
  color: var(--color-bold-pink);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
  font-family: var(--font-family-secondary);
}

.read-more:hover {
  font-family: var(--font-family-secondary);
  background-color: var(--color-bold-blue);
  color: var(--color-light-blue);
  border-color: var(--color-bold-blue);
  transform: scale(1.1); /* Slightly enlarge on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.6));
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
}

.invalid-feedback {
  display: block;
  font-size: 14px;
  color: #850F36;
  font-weight: 600;
}

.needs-validation .was-validated .form-control:invalid {
  border-color: red;
}

.needs-validation .was-validated .form-control:valid {
  border-color: green;
}

.high-contrast-text {
  color: #000000;
}

.high-contrast-link {
  color: var(--color-bold-blue);
  text-decoration: underline; 
  font-weight: bold;
}

.google-sheet-container {
  width: 100%;
  overflow: hidden;
}

/* Logo styling */
.logo-image {
  display: block;
  margin: 20px auto;
  height: auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
  transition: transform 0.3s ease; 
}

.logo-image:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.6));
}

.back-to-top-container {
  text-align: center;
  margin: 20px 0;
}

.back-to-top {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-bold-pink);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: var(--font-family-secondary);
}

.back-to-top:hover {
  background-color: var(--color-bold-blue);
  color: var(--color-light-blue);
  border-color: var(--color-bold-blue);
  transform: scale(1.1); /* Slightly enlarge on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.6));
}

@media (min-width: 768px) {
  .google-sheet-container iframe {
    height: 1100px;
  }
}

@media (max-width: 767px) {
  .google-sheet-container iframe {
    height: 1300px;
  }
}

.support-container {
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  margin-bottom: 2rem;
}

.support-container ul li {
  margin-bottom: 10px;
  font-size: 18px;
}

.support-container ul li i {
  color: var(--color-bold-pink);
  margin-right: 10px;
}